<?xml version="1.0" encoding="UTF-8"?>
<suite name="GRID SAMPLE TEST" parallel="tests" thread-count="3">
    <test name="GRID TEST WITH SERIAL EXECTION WITH BROWSER FF">
    <parameter name ="browserType" value="chrome"/>
        <classes>
            <class name ="demo.test.grid.SeleniumCode"/>
        </classes>
    </test>
    <test name="GRID TEST WITH SERIAL EXECTION WITH BROWSER IE">
    <parameter name ="browserType" value="firefox"/>
        <classes>
            <class name ="demo.test.grid.SeleniumCode"/>
        </classes>
    </test>
</suite>